body {
    font-family: Bahnschrift;
    padding-top: 50px;
    margin-right: 0px;
}

/*TODO: NEED TO LESSEN THE IMAGE QUALITY FOR FASTER LOAD TIMES*/
.parallax {
    /* The image used */
    background-image: url("../images/GreenComputer.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 15px 5px 50px grey;
}

.jumboText {
    text-shadow: 5px 3px 5px #000;
}

.jumbotron {
    display: flex;
    align-items: center;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: #cdcdcd;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.websiteSection {
    padding-top: 60px;
}

.card {
    border-color: white;
    padding: 20px;
}

#azurePhoto {
    padding-top: 30px;
}

.portfolioHeader {
    color: black;
    text-shadow: 3px 3px 8px grey;
}

.portfolioLinks:hover {
    text-decoration: none !important;
}

.portfolioItem {
    background-image: url("../images/folderDrawing.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    padding: 0 5px;
}

/* Removed .portfolioHeader:active */
.portfolioItem:hover {
    background-image: url("../images/folderDrawingOpen.png");
    cursor: pointer;
    padding: 30px 50px 0 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mySectionHeaders{
    text-shadow: 3px 3px 3px grey;
}

#contactBackground {
    background-color: rgba(178, 165, 82, 0.57);
    padding-bottom: 25px;
    box-shadow: 5px -5px 50px grey;
}

#profilePic {
    width: 100%;
}

.contactMeLinks {
    color: #000000;
    background-color: #b0b1f9;
    border: solid 2px #0b099d;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
}

.contactMeLinks:hover{
    color: #fff;
    background-color: #173ded;

}

.contactMeLinks:active {
    color: #fff;
    background-color: #0a1a7a;

}

#contactLinkHolder {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contactPictureHolder{
    text-align: center;
}


/*Media Queries*/
@media (max-width: 992px) {
    .jumbotron h2 {
        font-size: 3em;
    }
    .jumbotron p {
        font-size: 2em;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .portfolioItem {
        height: 150px;
    }
    .portfolioHeader:hover {
        font-size: 100%;
    }
}

@media (min-width: 1119px) {
    .portfolioHeader:hover {
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    #profilePic {
        width: 200px;
    }
    #contactLinkHolder {
        align-items: center;
    }
}